<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/webIco.ico">
    <link rel="icon" href="/webIco.ico">
    <title th:text="${article.title}">
                文章内容
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/material-kit.css?v=2.0.0">
    
    <!-- <link rel="stylesheet" href="/xheditor/xheditor_skin/fashion/ui.css">
    <link rel="stylesheet" href="/xheditor/xheditor_skin/fashion/iframe.css">
    <link rel="stylesheet" href="/xheditor/editViews.css"> -->
    
    <link rel="stylesheet"href="/mdeditor/css/editormd.css" />
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/assets/assets-for-demo/demo.css" rel="stylesheet"/>
    <link href="/assets/assets-for-demo/vertical-nav.css" rel="stylesheet"/>
</head>


<body class="profile-page ">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/profilePage" th:if="${session.user != null}">
                    <div class="logo">
                        <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png" width="25" height="25">
                        <span th:text="${session.user.name}">Name</span>
                    </div>
                </a> 
                
                <a class="navbar-brand" href="/" th:if="${session.user == null}">
                   <div class="logo">
                        <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png" width="25" height="25">
                        <span>游客</span>
                   </div>
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div th:if="${session.user != null}" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link"><i class="material-icons">home</i>首页</a>
                    </li>
                    <li class="nav-item">
                        <a href="#pablo" class="nav-link"><i class="material-icons">email</i>消息</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#pablo" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">settings</i>
                                                                选项
                            <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">操作</h6>
                            <a href="#pablo" class="dropdown-item">我的文章</a>
                            <a href="#pablo" class="dropdown-item">文章收藏</a>
                            <a href="#pablo" class="dropdown-item">浏览历史</a>
                            <div class="dropdown-divider"></div>
                            <a href="#pablo" class="dropdown-item">个人信息</a>
                            <div class="dropdown-divider"></div>
                            <a href="/logout" class="dropdown-item">账号退出</a>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div th:if="${session.user == null}" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"  data-toggle="modal" data-target="#loginModal">
                            <i class="material-icons">group</i>                            
                                                        登陆
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signupPage">
                            <i class="material-icons">add</i>                            
                                                        注册
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/img/examples/city.jpg');"></div>
	    <div class="main main-raised">
		    <div class="profile-content">
                <div class="container">
                    <br>
                    <h2 class="title" th:text="${article.title}">文章标题</h2>
                    <br>
                    <div id="doc-content">
                        <textarea class="form-control" style="display:none;" th:text="${article.content}"></textarea>
                    </div>
                    
                    
                    <br><br>
            </div>
        </div>
	</div>

    <footer class="footer ">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="/">
                                                       关于网站
                        </a>
                    </li>
                    <li>
                        <a href="/">
                                                        帮助
                        </a>
                    </li>
                    <li>
                        <a href="/">
                                                         网站推广
                        </a>
                    </li>
                    <li>
                        <a href="https://www.baidu.com/" target="_blank">
                                                         搜索
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, 使用网站须知 <i class="material-icons">favorite</i> 
                <a href="/" target="_blank">CodePower</a> 网站。
            </div>
        </div>
    </footer>

        
    <!-- 登陆的model -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
            	<div class="modal-header justify-content-left">
            	     <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button> -->
                	<a href="#pablo" class="btn btn-primary btn-link btn-wd btn-sm" data-dismiss="modal">关闭</a>
                </div>
               <!--  <div class="modal-header justify-content-center">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        <h4 class="card-title">Log in</h4>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-just-icon btn-link">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-link">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-link">
                                <i class="fa fa-google-plus"></i>
                            <div class="ripple-container"></div></a>
                        </div>
                    </div>
                </div> -->
                
                <div class="modal-body">
                    <form class="form" method="post" action="/login">
                        
                        <div class="card-body">
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <input name="userName" type="text" class="form-control" placeholder="请输入账号...">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <input name="password" type="password" placeholder="请输入密码..." class="form-control">
                                </div>
                            </div>
                        </div>
                    
                </div>
                <div class="modal-footer justify-content-center">
                    <!-- <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">登陆</a> -->
                    <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/bootstrap-material-design.js"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
    <script src="/assets/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/assets/js/plugins/nouislider.min.js"></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="/assets/js/material-kit.js?v=2.0.0"></script>
    <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
    <script src="/assets/assets-for-demo/js/material-kit-demo.js"></script>
    
    <!-- 引入富文本框 -->
    <!-- <script src="/xheditor/xheditor-1.2.13.js"></script> -->
    <!-- <script src="/xheditor/xheditor-1.2.2.min.js"></script>
    <script src="/xheditor/xheditor_lang/zh-cn.js"></script> -->
    <!-- <script src="/ckeditor/ckeditor.js"></script> -->
    <script src="/mdeditor/editormd.min.js"></script>
    
    <script src="/mdeditor/lib/marked.min.js"></script>
    <script src="/mdeditor/lib/prettify.min.js"></script>
    <script src="/mdeditor/lib/raphael.min.js"></script>
    <script src="/mdeditor/lib/underscore.min.js"></script>
    <script src="/mdeditor/lib/sequence-diagram.min.js"></script>
    <script src="/mdeditor/lib/flowchart.min.js"></script>
    <script src="/mdeditor/lib/jquery.flowchart.min.js"></script>
    
    <script th:inline="javascript">
    	/*<![CDATA[*/
    	var testEditor;
        $(document).ready(function() {
        	var msg = [[${msg}]];
        	if(msg != null){
	           alert(msg);
        	}
        	
        	//CKEDITOR.replace('TextArea1');
        	
        	testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
                htmlDecode: "style,script,iframe",
                emoji: true,
                taskList: true,
                tex: true, // 默认不解析
                flowChart: true, // 默认不解析
                sequenceDiagram: true, // 默认不解析
                codeFold: true,
            });
        	
        	/* $('#editor').xheditor({
                plugins: getCodePlugin(),
                layerShadow: 0,
                tools: "Bold,Italic,Underline,Strikethrough,Fontface,Blocktag,FontSize,FontColor,BackColor,|,Align,List,Outdent,Indent,|,Img,Table,Emot,Link,Unlink,Code,|,CsdnFullScreen",
                upImgUrl: "/UploadImage",
                width: 600,
                height: 560, 
                upImgExt: 'jpg,jpeg,gif,png,bmp',
                skin: "default",
                loadCSS: xhCssUrl
            }); */
        	
            materialKitDemo.initFormExtendedDatetimepickers();
            // Sliders for demo purpose in refine cards section
            var slider = document.getElementById('sliderRegular');

            noUiSlider.create(slider, {
                start: 40,
                connect: [true, false],
                range: {
                    min: 0,
                    max: 100
                }
            });

            var slider2 = document.getElementById('sliderDouble');

            noUiSlider.create(slider2, {
                start: [20, 60],
                connect: true,
                range: {
                    min: 0,
                    max: 100
                }
            });
            
            
        });
    	/*]]>*/
    </script>
    
</body>
</html>
