<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="utf-8">
     <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
     <!-- Favicons -->
     <link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
     <link rel="icon" href="/assets/img/favicon.png">
     <title>
                      注册
     </title>
     <!--     Fonts and icons     -->
     <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
     <link rel="stylesheet" href="/assets/css/material-kit.css?v=2.0.0">
     <!-- Documentation extras -->
     <!-- CSS Just for demo purpose, don't include it in your project -->
     <link href="/assets/assets-for-demo/demo.css" rel="stylesheet"/>
     <link href="/assets/assets-for-demo/vertical-nav.css" rel="stylesheet"/>
</head>

<body class="signup-page ">
   <nav class="navbar  navbar-transparent    navbar-absolute  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/">
                    <div class="logo">
                        <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png" width="25" height="25">
                        <span>游客</span>
                   </div>
                </a> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
             
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link"><i class="material-icons">home</i>首页</a>
                    </li>
                </ul>
            </div> 
          
      </div>
  </nav>

  <div class="page-header header-filter" filter-color="purple" style="background-image: url(&apos;../assets/img/bg7.jpg&apos;); background-size: cover; background-position: top center;">
     <div class="container">
		  <div class="row">
    		   <div class="col-md-10 ml-auto mr-auto">
					<div class="card card-signup">
						<h2 class="card-title text-center">填写注册信息</h2>
						<div class="card-body">
							<div class="row">
								<div class="col-md-5 ml-auto">
									<div class="info info-horizontal">
										<div class="icon icon-rose">
											<i class="material-icons">timeline</i>
										</div>
										<div class="description">
											<h4 class="info-title">网站功能</h4>
											<p class="description">
												编写和阅读文章，登陆和注册，关注他人，文章收藏。
											</p>
										</div>
									</div>

									<div class="info info-horizontal">
										<div class="icon icon-primary">
											<i class="material-icons">code</i>
										</div>
										<div class="description">
											<h4 class="info-title">使用技术</h4>
											<p class="description">
												框架:Thymeleaf,Spring Boot,MyBatis
												<br/>
												网页:HTML5,Bootstrap
												<br/>
												数据库:MySql
											</p>
										</div>
									</div>

									<div class="info info-horizontal">
										<div class="icon icon-info">
											<i class="material-icons">group</i>
										</div>
										<div class="description">
											<h4 class="info-title">作者信息</h4>
											<p class="description">
												新浪微博:<a href="http://weibo.com/ITShuaishuai" target="_blank">http://weibo.com/ITShuaishuai</a>
												<br/>
												CSDN:<a href="http://my.csdn.net/qq_35906720" target="_blank">http://my.csdn.net/qq_35906720</a>
												<br/>
												GitHub:<a href="https://github.com/ShuaiShuaiBoy" target="_blank">https://github.com/ShuaiShuaiBoy</a>
												<br/>
											</p>
										</div>
									</div>
								</div>

								<div class="col-md-5 mr-auto">
									

									<form class="form" method="post" action="/register">
									    
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="material-icons">face</i>
												</span>
												<input name="name" type="text" class="form-control" placeholder="请输入昵称...">
											</div>
										</div>

										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="material-icons">email</i>
												</span>
												<input name="userName" type="text" class="form-control" placeholder="请输入账号...">
											</div>
										</div>

										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="material-icons">lock_outline</i>
												</span>
												<input name="password" type="password" placeholder="请输入密码..." class="form-control" />
											</div>
										</div>
										
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" value="" checked>
												<span class="form-check-sign">
													<span class="check"></span>
												</span>
												我同意此 <a href="#something">协议</a>。
											</label>
										</div>
										<div class="text-center">
											<button type="submit" class="btn btn-primary btn-link">注册</button>
										</div>
									</form>
								</div>
								
							</div>
						</div>
					</div>
                </div>
            </div>
		</div>

       <footer class="footer ">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="/">
                                                       关于网站
                        </a>
                    </li>
                    <li>
                        <a href="/">
                                                        帮助
                        </a>
                    </li>
                    <li>
                        <a href="/">
                                                         网站推广
                        </a>
                    </li>
                    <li>
                        <a href="https://www.baidu.com/" target="_blank">
                                                         搜索
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, 使用网站须知 <i class="material-icons">favorite</i> 
                <a href="/" target="_blank">CodePower</a> 网站。
            </div>
        </div>
    </footer>
    </div>
    
    
        
    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/bootstrap-material-design.js"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
    <script src="/assets/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/assets/js/plugins/nouislider.min.js"></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="/assets/js/material-kit.js?v=2.0.0"></script>
    <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
    <script src="/assets/assets-for-demo/js/material-kit-demo.js"></script>
    <script th:inline="javascript">
       /*<![CDATA[*/
       $(document).ready(function() {
    	   var msg = [[${msg}]];
    	   if(msg != null){
              alert(msg);
    	   }
       });
	   /*]]>*/
    </script>
</body>

</html>
