<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.codepower.content.dao.ArticleDao">
	
	<!-- 根据id查询文章 -->
	<select id="selectArticleById" parameterType="String" resultType="Article">
		select 
			*
		from 
			cop_article
		where 
			id=#{id}
	</select>
	
	<!-- 查询所有文章 -->
	<select id="selectArticleAll" resultType="Article">
		select 
			*
		from 
			cop_article
	</select>
	
	<!-- 根据用户id查询文章 -->
	<select id="selectArticleByUserId" parameterType="String" resultType="Article">
		select 
			*
		from 
			cop_article
		where 
			userId = #{userId}
	</select>
	
	<!-- 根据状态查询文章 -->
	<select id="selectArticleByState" parameterType="String" resultType="Article">
		select
			*
		from 
			cop_article
		where
			state=#{state}
	</select>
	
	<!-- 添加文章 -->
	<insert id="insertArticle" parameterType="Article">
		insert into
			cop_article
		values
			(#{article.id},#{article.userId},#{article.title},#{article.content},#{article.createTime},#{article.updateTime},#{article.state})
	</insert>
	
	<!-- 修改文章 -->
	<update id="updateArticle" parameterType="Article">
		update
			cop_article
		set
			id={#{article.id}},userId=#{article.userId},title=#{article.title},content=#{article.content},createTime=#{article.createTime},updateTime=#{article.updateTime},state=#{article.state}
	</update>
	
</mapper>